#about-page {
    .intro {
        text-align: center;
    }
    .fit-wrap {
        p {
            text-align: center;
        }
    }
    .about-body {
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        margin-top: 60px;
        padding-top: 40px;
        padding-bottom: 30px;
        h3 {
            @include heading-font2;
            margin-bottom: 20px;
        }
        h4 {
            font-family: $font-heading;
            font-size: 30px;
            line-height: 1.2;
            color: #000;
            margin-bottom: 20px;
        }
        .about-content {

        }
        .about-photo {
            text-align: center;
            @include media-breakpoint-down(sm)  {
                margin-bottom: 30px;
            }
            img {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
            .photo-caption {
                display: block;
                margin-top: 10px;
                font-size: .857em;
                line-height: 1.5;
                font-style: italic;
            }
        }
    }
    .service-listing {
        margin-top: 80px;
        @include breakpoint (desktop) {
            margin-top: 60px;
        }
        @include media-breakpoint-only(lg) {
            margin-top: 40px;
        }
        @include media-breakpoint-only(md) {
            margin-top: 30px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }
        h3 {
            margin-top: 30px;
        }
        p {
            margin-bottom: 20px;
        }
    }
    &.service-detailed {
        .intro {
            p {
                margin-top: 35px;
            }
        }
        .about-body {
            border-top: 0 !important;
            margin-top: 0 !important;
            padding-top: 0 !important;
            p {
                margin-bottom: 20px;
                strong {
                    font-weight: normal;
                    font-family: $pt-bold;
                }
            }
        }
    }
}