/*===============================
=           Footer            =
===============================*/
#page-footer {
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    h3 {
        font-family: $libre-bold;
        font-size: 13px;
        line-height: 1.2;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }
    .footer-phone {
        display: block;
        font-size: 25.6px;
        line-height: 1.5;
        font-family: $pt-reg;
        margin-bottom: 30px;
        a {
            color: #fff;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .footer-socials {
        text-align: center;
        margin-bottom: 30px;
        li {
            display: inline-block;
            margin-left: 1px;
            margin-right: 1px;
            a {
                i {
                    color: #fff;
                    font-size: 16px;
                    width: 38px;
                    height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    @include animate-fade;
                    border: 1px solid transparent;
                    &.fa-facebook-f {
                        background-color: #3b5998;
                        border-color: #3b5998;
                    }
                    &.fa-twitter {
                        background-color: #00aced;
                        border-color: #00aced;
                    }   
                    &.fa-yelp {
                        background-color: #c41200;
                        border-color: #c41200;
                    }
                    &.fa-youtube {
                        background-color: #b00;
                        border-color: #b00;
                    }
                    &.fa-instagram {
                        background-color: #333;
                        border-color: #333;
                    }
                    &.fa-envelope {
                        background-color: #a4a4a4;
                        border-color: #a4a4a4;
                    }
                }
                &:hover {
                    i {
                        background-color: transparent!important;
                        &.fa-facebook-f {
                            color: #3b5998;
                        }
                        &.fa-twitter {
                            color: #00aced;
                        }   
                        &.fa-yelp {
                            color: #c41200; 
                        }
                        &.fa-youtube {
                            color: #b00;
                        }
                        &.fa-instagram {
                            color: #333;
                        }
                        &.fa-envelope {
                            color: #a4a4a4;
                        }
                    }
                }
            }
        }
    }
    .footer-certificates {
        margin-top: 30px;
        ul {
            li {
                display: inline-block;
            }
        }
    }
    .cities-list {
        margin-top: 30px;
        ul {
            li {
                padding: 0 6px;
                margin-top: 10px;
                display: inline-block;
                a {
                    font-family: $pt-bold;
                    font-size: 16px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    color: #fff;
                    @include bp(lg) {
                        font-size: 15px;
                    }
                    @include bp(md) {
                        font-size: 14px;
                    }
                    @include bp(sm-down) {
                        font-size: 13px;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .copy-bar {
        margin-top: 30px;
        margin-bottom: 20px;
        small {
            font-family: $pt-reg;
            font-size: 16px;
            line-height: 1.5;
            color: #eaeaea;
        }
    }
}

/*=======End of Footer ========*/

// Fixed cta
#fixed-cta {
    position: fixed;
    bottom:15px;
    right:15px;
    z-index:9999;
    &:hover {
        span.label {
            opacity: 1;
            margin-bottom: 10px;
        }
    }
    span.label {
        display: block;
        text-align: center;
        font-size: 19px;
        font-family: $font-heading;
        color:$black;
        margin-bottom: 0px;
        @include animate-fade;
        opacity: 0;
        position: relative;
        text-transform: uppercase;
        @include bp(sm-down) {
            display: none;
        }
    }
    a {
        display: block;
        height: 62px;
        line-height: 62px;
        padding-left: 65px;
        padding-right: 30px;
        background:$orange;
        color:$white;
        font-size: 18px;
        border-radius: 9999px;
        box-shadow: 0 3px 2px 2px rgba(0, 0, 0 , 0.31%);
        position: relative;
        animation: pulse 1.5s ease infinite;
        @include bp(sm-down) {
            padding-right: 0px;
            padding-left: 0px;
            padding:10px;
            height: auto;
            animation: none!important;
        }
        span {
            @include bp(sm-down) {
                display: none;
            }            
        }
        strong {
            @include bp(sm-down) {
                display: none;
            }
        }
        &:hover {
            background:#cd6502;
        }
        small {
            width: 36px;
            height: 36px;
            background:$white;
            border-radius: 100%;
            position: relative;
            display: block;
            @include centre(y);
            left:15px;
            text-align: center;
            line-height: 34px;
            @include bp(sm-down) {
                background:#f36723;
                width: 50px;
                height: 50px;
                line-height: 47px;
                @include clear-pos;
            }
            img {
                width: 20px;
                @include animate-fade;
                @include centre(both);
                @include bp(sm-down) {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity:1;
    }
  }