.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .collapse {
        ul {
            ul {
                @media (min-width: 1550px) and (max-width: 1900px) {
                    min-width: 200px!important;
                }
                ul {
                    @media (min-width: 1200px) and (max-width: 1499px) {
                        left: auto!important;
                        right: 100%!important;
                    }
                }
            }
        }
        
    }
    .navbar-collapse {
        height: 100%;
        .navbar-nav {
            height: 100%; 
            li {
                height: 100%;
                align-items: center;
                a {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .navbar-nav {
        margin-left: auto;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        @media (min-width: 992px) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        @include bp(lg-down) {
            display: none;
        }
        >li {
            a {
                font-family: $pt-reg;
                font-size: 15px;
                color: #000;
                display: block;
                position: relative;
                padding: 5px 15px;
                letter-spacing: .08em;
                text-transform: uppercase;
                &:hover {
                    //opacity: 0.7;
                }
                &.active {
                   // color: $dark2;
                }
                &.dropdown-toggle:after {
                    border: 0;
                }
            }
            >a {
                &:after {
                    @include centre(x);
                    bottom: 0;
                    display: block;
                    content: '';
                    background-color: $orange;
                    width: 0;
                    height: 1px;
                    @include animate-fade;
                }
                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        >.show>a {
            color: #000;
            background: #fff;
            outline: 0;
            text-decoration: none !important;
            &:focus,
            &:hover {
                color: #000;
                background: #fff;
                outline: 0;
                text-decoration: none !important;
            }
            &.dropdown-toggle {
                &:after {
                    color: #000;
                }
            }
        }
    }
}


/*==========Sub Menu=v==========*/

.mainmenu {
    .collapse ul {
        >li:hover>a,
        ul>li:hover>a {
            //background-color: rgba(198,198,198,1);
        }
    }
    .collapse ul ul {
       //background-color: rgba(198,198,198,1);
        border: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        ul>li:hover>a,
       /* &.dropdown-menu {
            background-color: rgba(198,198,198,1);
        }
        ul {
            background-color: rgba(198,198,198,1);
            &.dropdown-menu {
                background-color: rgba(198,198,198,1);
            }
            ul {
                background-color: rgba(198,198,198,1);
                &.dropdown-menu {
                    background-color: rgba(198,198,198,1);
                }
            }
        }*/
        li {
            //padding: 0 15px;
        }
        a {
            padding: 7px 30px;
           // border-bottom: 1px solid #eee;
            font-size: 14px;
            line-height: 1.4;
            display: block;
            letter-spacing: 0;
            &:hover {
                color: #fff;
                -webkit-transform: translateX(.5em);
                -moz-transform: translateX(.5em);
                -ms-transform: translateX(.5em);
                -o-transform: translateX(.5em);
                transform: translateX(.5em);
            }
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e908";
            font-family: "icomoon";
            font-weight: 900;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        background-color: rgba(198,198,198,1);
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 200px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 200px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu {
        >li>a {
            padding: 16px 15px 16px 35px;
        }
        .dropdown-menu>li>a {
            padding: 16px 15px 16px 45px;
        }
    }
}



// mobile menu

.menu-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}

.active-overlay {
	opacity: 1;
    visibility: visible;	
}

.main-menu-sidebar {
	background:black;
	width:310px;
	position:fixed;
	height:100%;
	top:0px;
	right:-310px;
	z-index:99999;
	transition:.45s ease-in-out;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
    overflow-y:scroll;
    /* close menu */
    header {
        position: relative;
    }
    .close-menu-btn {
        position: absolute;
        top:10px;
        right:-15px;
        color:$white;
        font-size: 20px;
        width: 40px;
        height: 40px;
        img {
            @include centre(both);
            width: 22px;
            filter: brightness(0) invert(1);
        }
    }
    // arrow
    small {
        display:block;
        width:50px;
        height:49px;
        position: absolute;
        top:0px;
        right:0px;    
        &:after {
            font-family: $font-main;
            content:'+';
            color:$white;
            font-size: 32px!important;
            @include centre(both);
        }
        &.active {
            &:after {
                content:'-'!important;
                @include centre(both);
                margin-top: -3px;    
            }						
        }          
    }
	/* main menu */
	#sidebar-menu-wrapper {
        padding-top: 50px;
		#menu {
			.nav-links {
                padding-top: 30px;
                .menu-item-has-children {
                    position: relative;
                }
				> li > a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom:1px solid rgba($white,0.3);
                    font-size: 16px;
                    color:$white;
                    position: relative;
                    padding-left: 0px;
                    padding-right: 0px;
                    text-transform: uppercase;
                    display: block;
                    font-family: $pt-reg;
                    padding-right: 50px;
					&:hover {
						color:$white;
					}
				}
				li {
					ul {
						padding-top: 20px;
						padding-bottom: 10px;
						li {
							a {
								display: block;
								font-size: 16px;
								color:#5d5d5d;
								padding-top: 5px;
								padding-bottom: 5px;
								padding-left: 15px;
								position: relative;
								color:$white;
								line-height: 1.2;
                                padding-right: 30px;
								&:hover {
									color:$white;
									&:before {
										width: 10px;
										background-color:$white;
									}
								}
							}
						}
					}
				}
				.has-menu > a {
					position:relative;
				}
			}
		}

	}
}


.body-scroll {
	overflow-y:hidden!important;
}

.menu-active {
	right: 0;
}